#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 95%;
    padding:75px;
    /* border: 1px black solid; */
}

#about-block {
    min-width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 2px black solid; */
}

#about-block > * {
    margin: 25px;
}

#about-block > img {
    width: 40%;
    min-width: 400px;
    max-width: 500px;
    height: fit-content;
}

#purpose-box {
    width: 40%;
    min-width: 400px;
    max-width: 500px;
    font-size: 18px;
}

.title {
    font-size: 36px;
    margin: -2px 0px -5px 30px;
}

#member-list {
    display: flex;
    flex-flow: row wrap;
    /* border: 5px solid black; */
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
}

.member-box {
    border: 2px solid rgb(196, 194, 194);
    max-width: 250px;
    padding: 20px;
    margin: 35px;
    flex-flow: column;
    text-align: center;
    border-radius: 5px;
}

.member-box > h3 {
    text-align: left;
    margin-left: 5px;
}

.member-pic {
    width: 200px;
    height: auto;
    text-align: center;
}

.membertext {
    text-align: justify;
    margin: 5px;
}