#right-column {
    display: block;
    margin-left: 50px;
    width: 50%;
}

#right-column > * {
    line-height: 1.7;
}

#right-column h1 {
    margin: 0;
    margin-bottom: 22px;
    font-size: max(32px, 2.5vw);
    line-height: 1.25em;
}

#right-column p {
    font-size: 17px;
}

#right-column > hr {
    margin-bottom: 34px;
}

#left-column {
    display: flex;
    flex-direction: column;
}

#imagebox {
    width: 330px;
    max-height: 520px;
    margin-bottom: 10px;
    border: solid 2px rgb(220, 220, 220);
    object-fit: cover;
}

.selector {
    min-height: 40px;
    width: 192px;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 17px;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgb(220, 220, 220);
    color: #000;
}

.shelf-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: -16%;
    left: 50%;
    transform: translateX(-50%);
}

.bookstand-selectors {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.bookstand-selectors > * {
    margin: 10px;
}

.add-button {
    border-radius: 0.4em;
    padding: 0.5em 0.75em;
    font-size: 16px;
    font-weight: 500;
    background-color: #21ac28;
    color: white;
    border: none;
    letter-spacing: 1px;
    width: 150px;
}

.remove-button {
    border-radius: 0.4em;
    padding: 0.5em 0.75em;
    font-size: 16px;
    font-weight: 500;
    background-color: #be2525;
    color: white;
    border: none;
    letter-spacing: 1px;
    width: 150px;
}

.bookpage-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.bookpage-modal {
    position: fixed;
    max-width: 880px;
    width: 82%;
    padding: 48px 52px 102px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 14px;
    z-index: 999;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.28);
}

.bookpage-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 998;
}

#status-text {
    min-height: 17px;
    display: inline-block;
}

@media (max-width: 780px) {
    .bookpage-modal {
        padding: 1.6em 1em 7em;
        height: 78%;
        overflow-y: scroll;
    }

    .bookpage-container {
        flex-direction: column;
        align-items: center;
    }

    .shelf-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: -17%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 0;
    }

    #right-column {
        width: 88%;
        margin-top: 36px;
        margin-left: 0;
    }

    #right-column h1 {
        font-size: 28px;
    }

    #imagebox {
        max-width: 100%
    }

    #bookstand-selectors {
        flex-direction: column;
    }

    #bookstand-selectors > * {
        margin-bottom: 12px;
    }
}
