#right-column {
    display: block;
    margin-left: 50px;
    width: 100%;
}

#right-column > * {
    line-height: 1.7;
}

#right-column h1 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1;
}

#right-column > hr {
    margin-bottom: 38px;
}


#left-column {
    align-items: center;
}

#imagebox {
    width: 360px;
    max-height: 560px;
    margin-bottom: 30px;
    border: solid 2px rgb(220, 220, 220);
    border-radius: 18px;
    object-fit: cover;
}

#selector {
    width: auto;
    min-width: 15ch;
    min-height: 40px;
    border: none;
    border-radius: 0.50em;
    padding: 0.5em 0.6em;
    font-size: 1.0rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgb(95, 39, 159);
    color: aliceblue;
}

#bookstand-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#add-button {
    border-radius: 0.4em;
    padding: 0.5em 0.6em;
    font-size: 1.0rem;
    background-color: rgb(81, 185, 89);
    color: aliceblue;
    width: auto;
    height: auto;
    border: none;
}
