#right-column {
    display: block;
    margin-left: 50px;
    width: 100%;
}

#right-column > * {
    line-height: 1.7;
}

#right-column h1 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1;
}

#right-column > hr {
    margin-bottom: 38px;
}


#left-column {
    align-items: center;
}

#imagebox {
    width: 320px;
    max-height: 520px;
    margin-bottom: 30px;
    border: solid 2px rgb(220, 220, 220);
    object-fit: cover;
}

#selector {
    min-height: 40px;
    border: none;
    border-radius: 0.50em;
    padding: 0.5em;
    font-size: 0.95em;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgb(220, 220, 220);
    color: #000;
}

#bookstand-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-button {
    border-radius: 0.4em;
    padding: 0.5em 0.75em;
    font-size: 0.95em;
    font-weight: 500;
    background-color: #57BB5B;
    color: white;
    border: none;
    letter-spacing: 1px;
}
