.about-page-container {
    margin: 0 25px;
    max-width: 1432px;
}

#container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-block {
    margin: 0 auto 60px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-shadow: 0 2px 10px rgb(218, 217, 217);
    border-radius: 10px;
}

#about-block > * {
    margin: 25px;
}

#about-block > img {
    width: 45%;
    min-width: 400px;
    max-width: 750px;
    height: fit-content;
}

#purpose-box {
    width: 45%;
    min-width: 400px;
    max-width: 600px;
    font-size: 18px;
    margin: 25px 0px 30px 40px;
    letter-spacing: 1px;
    line-height: 1.6em;
}

#page-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 32px;
}

#team-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 32px;
}

#member-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: -56px;
}

.member-box {
    box-shadow: 0 2px 10px rgb(218, 217, 217);
    max-width: 280px;
    padding: 20px;
    margin-right: 46px;
    margin-bottom: 50px;
    flex-flow: column;
    text-align: center;
    border-radius: 10px;
}

.member-box > h3 {
    text-align: left;
    margin-left: 5px;
}

.member-pic {
    width: 200px;
    height: auto;
    text-align: center;
    margin-top: 15px;
}

.membertext {
    text-align: justify;
    margin: 5px;
}