body {
    font-family: 'Manrope', 'Inter', sans-serif;
}

.settings-container {
    max-width: 1432px;
    margin: 0 25px;
}

.mode-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    width: 160px;
}