.browse-container {
  max-width: 1432px;
  margin: 1.2em auto;
  padding: 0 1.5em;
}

.browse_book-list {
  display: flex;
  align-items: flex-start;
  margin: 0 -30px;
}

.homepage-featured .browse_book-list {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.homepage-featured .browse_book-list a:first-child {
  margin-left: 0;
}

.homepage-browse .browse_book-list {
  flex-wrap: wrap;
}

.browse_book-list::-webkit-scrollbar {
  display: none;
}
