.browse-container {
  max-width: 1230px;
  margin: 1.2em auto;
}

.homepage-featured .browse_book-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
}

.homepage-featured .browse_book-list a:first-child {
  margin-left: 0;
}

.homepage-browse .browse_book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -30px;
}

.browse_book-list::-webkit-scrollbar {
  display: none;
}
