.book-list_card {
  margin: 5px 32px 25px;
  max-width: 160px;
  text-decoration: none;
  display: block;
}

.book-list_card > * {
  transition: 0.2s all ease;
}

.book-list_card:hover img {
  transform: scale(1.01);
  cursor: pointer;
}

.book-list_card:hover h4, .book-list_card:hover p {
  opacity: 0.75;
  cursor: pointer;
}

.book-card_img {
  margin-bottom: 12px;
  height: 200px;
  max-width: 160px;
  object-fit: cover;
  border: solid 1px rgb(220, 220, 220);
}

.book-card_title, .book-card_author {
  margin: 0;
  padding-bottom: 5px;
  letter-spacing: .3px;
  width: 100%;
}

.book-card_title {
  color: black;
  font-size: 1.2em;
}

.book-card_author {
  color: rgb(56, 56, 56);
  font-size: .98em;
  font-weight: 500;
}