/*
The style will definitely need to be modified, so if the bootstrap
styles interfere, feel free to remove them from the class names
*/

.search-overlay {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

