.book-list_card {
  margin: 5px 60px 25px 0;
  max-width: 150px;
}

.book-list_img {
  max-height: 200px;
  width: 140px;
  object-fit: contain;
}

.book-list_title, .book-list_author {
  margin: 0;
  padding-bottom: 8px;
  letter-spacing: .3px;
  width: 100%;
}

.book-list_author {
  color: rgb(56, 56, 56);
  font-size: .85em;
  font-weight: 500;
}