.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.left-column .right-column {
    display: inline-block;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
}


.basic-info {
    display: inline-block;
    clear: both;
    position: relative;
    padding: 10px;
}

.filler {
    border: 1px black solid;
    fill: blue;
}

#imagebox {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 20px;
}

#container {
    flex-direction: row;
}