nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  margin: -7.5px;
  padding: .6em 1.5em;
  box-shadow: 0 3px 18px rgb(238, 238, 238);
  position: sticky;
  top: 0;
  background-color: #fff;
}

h1 {
  font-size: 1.8em;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  margin: 0 .8em;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.75;
}

.underline {
  position: absolute;
  top: 1.4em;
  background-color: #cfccc4;
  width: 0%;
  height: 3px;
  transition: all 0.2s;
}

li:hover .underline {
  width: 100%;
}

.active ~ .underline {
  width: 100%;
}

.split-right {
  display: flex;
  align-items: center;
}

svg {
  padding-top: 1px;
}

button {
  border-radius: 50%;
  border: none;
  background-color: #4b2e83;
  width: 46px;
  height: 46px;
  margin-left: 1.2em;
  padding: 0;
  transition: all 0.3s;
}

button:hover {
  background-color: #6445a3;
  cursor: pointer;
}